$color-background: hsl(120, 40%, 60%);
$color-plan: hsl(200, 50%, 50%);

body {
	padding: 0;
	margin: 0;
	position: relative;
	height: 100%;
	font: normal 18px Sniglet;
}
@import url('http://fonts.googleapis.com/css?family=Sniglet');
.main {
	background-color: $color-background;
	padding: 0;
	margin: 0;
	height: 100%;
	position: relative;
}

.hours {
	display: inline-block;
	width: 10%;
	position: relative;
}

.time-slot {
	list-style-type: none;
	border-bottom: dotted 1px;
	height: 80px;
	position: relative;
	box-sizing: border-box;
}

.hour {
	display: inline-block;
	font: inherit;
	color: white;
	top: 50%;
	transform: translateY(-50%);
	position: relative;
	text-align: center;
	vertical-align: top;
}

.plan-container {
	display: inline-block;
	width: 80%;
	height: 1920px;
	position: relative;
	vertical-align: top;
	margin: 18px 0;
}

.plan {
	background-color: $color-plan;
	border-radius: 10px;
	display: inline-block;
	margin: 0 0.2em;
	position: absolute;
	box-sizing: border-box;

	.activity {
		display: inline-block;
		font: inherit;
		color: white;
		padding: 0.5em;
	}
	.fa-trash{
		position: absolute;
		right: 20px;
		top: 15px;
		cursor: pointer;
		color: white;
	}
}